<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-danger btn-sm" ng-click="goBack()"><i class="fa fa-hand-o-left fa-lg">&nbsp;</i> Back</button>
    </div>
</div>
<hr />

<h3>Employee Information Update</h3>
<form name="myForm" id="myForm" novalidate role="form" ng-submit="submitForm(myForm.$valid)">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtFirstName.$invalid && !myForm.txtFirstName.$pristine, 'has-success': myForm.txtFirstName.$valid && !myForm.txtFirstName.$pristine}">
                <label for="txtFirstName">First Name </label>
                <span class="label label-danger" ng-show="submitted && myForm.txtFirstName.$error.required">Required!</span>
                <input type="text" name="txtFirstName" ng-model="vModel.FirstName" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtFirstName.$invalid && !myForm.txtFirstName.$pristine, 'has-success': myForm.txtFirstName.$valid && !myForm.txtFirstName.$pristine}">
                <label for="txtLastName">Last Name </label>
                <span class="label label-danger" ng-show="submitted && myForm.txtLastName.$error.required">Required!</span>
                <input type="text" name="txtLastName" ng-model="vModel.LastName" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtEmail.$invalid && !myForm.txtEmail.$pristine, 'has-success': myForm.txtEmail.$valid && !myForm.txtEmail.$pristine}">
                <label for="txtEmail">Email</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtEmail.$error.required">Required!</span>
                <input type="text" name="txtEmail" ng-model="vModel.Email" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtJobTitle.$invalid && !myForm.txtJobTitle.$pristine, 'has-success': myForm.txtJobTitle.$valid && !myForm.txtJobTitle.$pristine}">
                <label for="txtJobTitle">Job Title</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtJobTitle.$error.required">Required!</span>
                <input type="text" name="txtJobTitle" ng-model="vModel.Title" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtPrimaryPhoneNumber.$invalid && !myForm.txtPrimaryPhoneNumber.$pristine, 'has-success': myForm.txtPrimaryPhoneNumber.$valid && !myForm.txtPrimaryPhoneNumber.$pristine}">
                <label for="txtPrimaryPhoneNumber">Primary Phone Number</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtPrimaryPhoneNumber.$error.required">Required!</span>
                <input type="text" name="txtPrimaryPhoneNumber" ui-mask="(999) 999-9999" ng-model="vModel.PrimaryPhoneNumber" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtPhoneExtension.$invalid && !myForm.txtPhoneExtension.$pristine, 'has-success': myForm.txtPhoneExtension.$valid && !myForm.txtPhoneExtension.$pristine}">
                <label for="txtPhoneExtension">Extension</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtPhoneExtension.$error.required">Required!</span>
                <input type="text" name="txtPhoneExtension" ng-model="vModel.PhoneExtension" class="form-control" required />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtCellNumber.$invalid && !myForm.txtCellNumber.$pristine, 'has-success': myForm.txtCellNumber.$valid && !myForm.txtCellNumber.$pristine}">
                <label for="txtCellNumber">CellNumber</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtCellNumber.$error.required">Required!</span>
                <input type="text" name="txtCellNumber" ui-mask="(999) 999-9999" ng-model="vModel.CellNumber" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtFaxNumber.$invalid && !myForm.txtFaxNumber.$pristine, 'has-success': myForm.txtFaxNumber.$valid && !myForm.txtFaxNumber.$pristine}">
                <label for="txtFaxNumber">FaxNumber</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtFaxNumber.$error.required">Required!</span>
                <input type="text" name="txtFaxNumber" ui-mask="(999) 999-9999" ng-model="vModel.FaxNumber" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.drpPositionId.$invalid && !myForm.drpPositionId.$pristine, 'has-success': myForm.drpPositionId.$valid && !myForm.drpPositionId.$pristine}">
                <label for="drpProgram">Position</label>
                <span class="label label-danger" ng-show="submitted && myForm.drpPositionId.$error.required">Required!</span>
                <select class="form-control" name="drpPositionId" id="drpPositionId" required ng-model="vModel.PositionId" ng-options="pos.PositionId as pos.Position for pos in PositionsModels"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.drpAffiliationName.$invalid && !myForm.drpAffiliationName.$pristine, 'has-success': myForm.drpAffiliationName.$valid && !myForm.drpAffiliationName.$pristine}">
                <label for="drpAffiliationName">Affiliation</label>
                <span class="label label-danger" ng-show="submitted && myForm.drpAffiliationName.$error.required">Required!</span>
                <select class="form-control" name="drpAffiliationName" id="drpAffiliationName" required ng-model="vModel.AffiliationId" ng-options="aff.AffiliationId as aff.AffiliationName for aff in AffiliationModels"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.drpRegion.$invalid && !myForm.drpRegion.$pristine, 'has-success': myForm.drpRegion.$valid && !myForm.drpRegion.$pristine}">
                <label for="drpRegion">Region</label>
                <span class="label label-danger" ng-show="submitted && myForm.drpRegion.$error.required">Required!</span>
                <select class="form-control" name="drpRegion" id="drpRegion" required ng-model="vModel.RegionId" ng-options="reg.RegionId as reg.RegionName for reg in RegionModels"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.drpProgram.$invalid && !myForm.drpProgram.$pristine, 'has-success': myForm.drpProgram.$valid && !myForm.drpProgram.$pristine}">
                <label for="drpProgram">Program</label>
                <span class="label label-danger" ng-show="submitted && myForm.drpProgram.$error.required">Required!</span>
                <select class="form-control" name="drpProgram" id="drpProgram" required ng-model="vModel.ProgramId" ng-options="prog.ProgramId as prog.ProgramName for prog in ProgramModels"></select>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.drpLineOffice.$invalid && !myForm.drpLineOffice.$pristine,
             'has-success': myForm.drpLineOffice.$valid && !myForm.drpLineOffice.$pristine}">
                <label for="drpProgram">LineOffice</label>
                <span class="label label-danger" ng-show="submitted && myForm.drpLineOffice.$error.required">Required!</span>
                <select class="form-control" name="drpLineOffice" id="drpLineOffice" required ng-model="vModel.LineOfficeId" ng-options="l.LineOfficeId as l.LineOffice for l in LineOfficeModels"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.drpRegionalManager.$invalid && !myForm.drpRegionalManager.$pristine,
             'has-success': myForm.drpRegionalManager.$valid && !myForm.drpRegionalManager.$pristine}">
                <label for="drpProgram">RegionalManager</label>
                <span class="label label-danger" ng-show="submitted && myForm.drpRegionalManager.$error.required">Required!</span>
                <select class="form-control" name="drpRegionalManager" id="drpRegionalManager" required ng-model="vModel.RegionalManagerGUID" ng-options="u.EmployeeGUID as  u.Name for u in allUsers"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.drpContractProgramManager.$invalid && !myForm.drpContractProgramManager.$pristine,
             'has-success': myForm.drpContractProgramManager.$valid && !myForm.drpContractProgramManager.$pristine}">
                <label for="drpProgram">Contract Manager</label>
                <span class="label label-danger" ng-show="submitted && myForm.drpContractProgramManager.$error.required">Required!</span>
                <select class="form-control" name="drpContractProgramManager" id="drpContractProgramManager" required ng-model="vModel.ContractProgramManagerGUID" ng-options="u.EmployeeGUID as  u.Name for u in allUsers"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.drpManagerGUID.$invalid && !myForm.drpManagerGUID.$pristine,
             'has-success': myForm.drpManagerGUID.$valid && !myForm.drpManagerGUID.$pristine}">
                <label for="drpProgram">Manager</label>
                <span class="label label-danger" ng-show="submitted && myForm.drpManagerGUID.$error.required">Required!</span>
                <select class="form-control" name="drpManagerGUID" id="drpManagerGUID" required ng-model="vModel.ManagerGUID" ng-options="u.EmployeeGUID as  u.Name for u in allUsers"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.drpFireDrillSuperGUID.$invalid && !myForm.drpFireDrillSuperGUID.$pristine,
             'has-success': myForm.drpFireDrillSuperGUID.$valid && !myForm.drpFireDrillSuperGUID.$pristine}">
                <label for="drpProgram">FireDrill SupervisorName</label>
                <span class="label label-danger" ng-show="submitted && myForm.drpManagerGUID.$error.required">Required!</span>
                <select class="form-control" name="drpFireDrillSuperGUID" id="drpFireDrillSuperGUID" required ng-model="vModel.FireDrillSuperGUID" ng-options="u.EmployeeGUID as  u.Name for u in allUsers"></select>
            </div>
        </div>
    </div>
    <hr />
    <strong> Home Contact Info</strong><br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtHomePhoneNumber.$invalid && !myForm.txtHomePhoneNumber.$pristine, 'has-success': myForm.txtHomePhoneNumber.$valid && !myForm.txtHomePhoneNumber.$pristine}">
                <label for="txtHomePhoneNumber">Home Stree Address </label>
                <span class="label label-danger" ng-show="submitted && myForm.txtHomePhoneNumber.$error.required">Required!</span>
                <input type="text" name="txtHomePhoneNumber" ng-model="vModel.HomePhoneNumber" class="form-control" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtHomePhoneNumber2.$invalid && !myForm.txtHomePhoneNumber2.$pristine, 'has-success': myForm.txtHomePhoneNumber2.$valid && !myForm.txtHomePhoneNumber2.$pristine}">
                <label for="txtHomePhoneNumber2">Home Stree Address </label>
                <span class="label label-danger" ng-show="submitted && myForm.txtHomePhoneNumber2.$error.required">Required!</span>
                <input type="text" name="txtHomePhoneNumber2" ng-model="vModel.HomePhoneNumber2" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtHomeStreeAddress.$invalid && !myForm.txtHomeStreeAddress.$pristine, 'has-success': myForm.txtHomeStreeAddress.$valid && !myForm.txtHomeStreeAddress.$pristine}">
                <label for="txtHomeStreeAddress">Home Stree Address </label>
                <span class="label label-danger" ng-show="submitted && myForm.txtHomeStreeAddress.$error.required">Required!</span>
                <input type="text" name="txtHomeStreeAddress" ng-model="vModel.HomeStreeAddress" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtHomeCity.$invalid && !myForm.txtHomeCity.$pristine, 'has-success': myForm.txtHomeCity.$valid && !myForm.txtHomeCity.$pristine}">
                <label for="txtHomeCity">City</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtHomeCity.$error.required">Required!</span>
                <input type="text" name="txtHomeCity" ng-model="vModel.HomeCity" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtHomeZipCode.$invalid && !myForm.txtHomeZipCode.$pristine, 'has-success': myForm.txtHomeZipCode.$valid && !myForm.txtHomeZipCode.$pristine}">
                <label for="txtHomeZipCode">City</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtHomeZipCode.$error.required">Required!</span>
                <input type="text" name="txtHomeZipCode" ng-model="vModel.HomeZipCode" class="form-control" required />
            </div>
        </div>
    </div>
    <hr />
    <strong> Emergency Contact Info</strong><br />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtEmergencyContactName.$invalid && !myForm.txtEmergencyContactName.$pristine, 'has-success': myForm.txtEmergencyContactName.$valid && !myForm.txtEmergencyContactName.$pristine}">
                <label for="txtEmergencyContactName">Emergency Contact Name </label>
                <span class="label label-danger" ng-show="submitted && myForm.txtEmergencyContactName.$error.required">Required!</span>
                <input type="text" name="txtEmergencyContactName" ng-model="vModel.EmergencyContactName" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtEmergencyContactPhoneNumber.$invalid && !myForm.txtEmergencyContactPhoneNumber.$pristine, 'has-success': myForm.txtEmergencyContactPhoneNumber.$valid && !myForm.txtEmergencyContactPhoneNumber.$pristine}">
                <label for="txtEmergencyContactPhoneNumber">Emergency Contact PhoneNumber</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtEmergencyContactName.$error.required">Required!</span>
                <input type="text" name="txtEmergencyContactPhoneNumber" ng-model="vModel.EmergencyContactPhoneNumber" class="form-control" required />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{ 'has-error' : myForm.txtEmergencyContactPhoneNumber2.$invalid && !myForm.txtEmergencyContactPhoneNumber2.$pristine, 'has-success': myForm.txtEmergencyContactPhoneNumber2.$valid && !myForm.txtEmergencyContactPhoneNumber2.$pristine}">
                <label for="txtEmergencyContactPhoneNumber2">Emergency Contact PhoneNumber2</label>
                <span class="label label-danger" ng-show="submitted && myForm.txtEmergencyContactPhoneNumber2.$error.required">Required!</span>
                <input type="text" name="txtEmergencyContactPhoneNumber2" ng-model="vModel.EmergencyContactPhoneNumber2" class="form-control" required />
            </div>
        </div>
    </div>
    <hr />
    <div class="pull-right">
        <button type="button" class="btn btn-danger" ng-click="goBack();"> <i class="fa fa-hand-o-left fa-lg">&nbsp;</i>Back</button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-save">&nbsp;</i>Submit</button>
    </div>
</form>