<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-danger btn-sm" ng-click="goBack()"><i class="fa fa-hand-o-left fa-lg">&nbsp;</i> Back</button>
    </div>
</div>
<hr />

<div class="row">
    <div class="well well-sm">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img src="/_layouts/15/Intranet/img/User.png" alt="" width="90" height="90">
                            </a>
                            <div class="media-body">
                                <h1>
                                    {{vModel.Name}}
                                    <br />
                                    <small><i class="fa fa-cog text-muted"></i>&nbsp;{{vModel.Title}}</small>
                                </h1>
                                <p class="text-muted">
                                    <a ng-href="mailto:{{vModel.email}}">{{vModel.Email}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong class="txt-color-teal">Contact Info</strong>
                        <dl class="dl-horizontal">
                            <dt>Phone:</dt>
                            <dd>{{vModel.PrimaryPhoneNumber}}</dd>
                            <dt>Extension:</dt>
                            <dd>{{vModel.PhoneExtension}}</dd>
                            <dt>E-mail:</dt>
                            <dd>{{vModel.Email}}</dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Program:</dt>
                            <dd>{{vModel.ProgramName}}</dd>
                            <dt>Affiliation:</dt>
                            <dd>{{vModel.AffiliationName}}</dd>
                            <dt>Line Office:</dt>
                            <dd>{{vModel.LineOffice}}</dd>
                            <dt>Full Time:</dt>
                            <dd>{{ vModel.PartTime && 'No' || 'Yes'}}</dd>
                            <dt>Start Date:</dt>
                            <dd>{{ parseMSJSONDate(vModel.StartDate)}}</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong class="txt-color-teal">Location Info</strong>
                        <dl class="dl-horizontal">
                            <dt>Region:</dt>
                            <dd>{{vModel.RegionName}}</dd>
                            <dt>Location:</dt>
                            <dd>{{vModel.City}}</dd>
                            <dt>Building:</dt>
                            <dd>{{vModel.BuildingName}}</dd>
                            <dt>Room:</dt>
                            <dd>{{vModel.RoomNumber}}</dd>
                            <dt>Cubicle:</dt>
                            <dd>{{vModel.CubicalNumber}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong class="txt-color-teal">Emergency Contact Info</strong>
                        <dl class="dl-horizontal">
                            <dt> Contact Name:</dt>
                            <dd>{{vModel.EmergencyContactName}}</dd>
                            <dt>Contact Relationship:</dt>
                            <dd>{{vModel.EmergencyContactRelationship}}</dd>
                            <dt>Phone Number:</dt>
                            <dd>{{vModel.EmergencyContactPhoneNumber}}</dd>
                            <dt>Phone Number2:</dt>
                            <dd>{{vModel.EmergencyContactPhoneNumber2}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong class="txt-color-teal">Home Contact Info</strong>
                        <dl class="dl-horizontal">
                            <dt>Address 1:</dt>
                            <dd>{{vModel.HomeStreeAddress}}</dd>
                            <dt>City:</dt>
                            <dd>{{vModel.HomeCity}}</dd>
                            <dt>Home Phone:</dt>
                            <dd>{{vModel.HomePhoneNumber}}</dd>
                            <dt>Cell Phone:</dt>
                            <dd>{{vModel.HomePhoneNumber2}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

