<style>
    .bs-example {
        margin-left: 0;
        margin-right: 0;
        background-color: #fff;
        border-width: 1px;
        border-color: #ddd;
        border-radius: 5px 5px 0 0;
        box-shadow: none;
        position: relative;
        padding: 15px 15px 15px;
        margin: 0 0px 15px;
        border-style: solid;
        height: 150px;
    }

    .lockscreen .logo + div > img {
        float: left;
    }

        .lockscreen .logo + div > img + div {
            float: right;
            width: 318px;
        }

            .lockscreen .logo + div > img + div > :first-child {
                margin-top: 0px;
            }

                .lockscreen .logo + div > img + div > :first-child > :first-child {
                    opacity: .1;
                    padding: 15px;
                }

    .ms-core-pageTitle {
        display: none;
    }
</style>

<div class="jarviswidget" id="widget-UpdateEmployee" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
    <header>
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>Employee Information Update</h2>
        <div class="widget-toolbar hidden-phone">
            <div class="smart-form">
            </div>
        </div>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body">
            <div id="myTab1">
                <ul>
                    <li>
                        <a href="#tabs-1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-crosshairs"></i>General</a>
                    </li>
                    <li>
                        <a href="#tabs-3" data-toggle="tab"><i class="fa fa-fw fa-lg fa-fire-extinguisher"></i>Emergency</a>
                    </li>
                    <li>
                        <a href="#tabs-4" data-toggle="tab"><i class="fa fa-fw fa-lg fa-home"></i>Home Contact</a>
                    </li>
                    <li>
                        <a href="#tabs-5" data-toggle="tab"><i class="fa fa-fw fa-lg fa-keyboard-o"></i>Hardware</a>
                    </li>
                </ul>
                <div class="tab-pane" id="tabs-1">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="alert alert-warning fade in">
                                <i class="fa-fw fa fa-warning"></i>
                                <strong>Update Information</strong> If information on this page is incorrect please send an email to <b><a ng-href="mailto:{{currentUser.ManagerName +'@noaa.gov'}}">{{currentUser.ManagerName}}</a></b> with corrections for review.To update other sections click on the tabs.
                            </div>
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="lockscreen ">
                                            <div class="logo">
                                            </div>
                                            <div>
                                                <img src="/_layouts/15/Intranet/img/User.png" alt="" width="90" height="90">
                                                <div>
                                                    <h1>
                                                        <i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile"></i>{{currentUser.Name}}
                                                        <br />
                                                        <small><i class="fa fa-cog text-muted"></i>&nbsp;{{currentUser.Title}}</small>
                                                    </h1>
                                                    <p class="text-muted">
                                                        <a ng-href="mailto:{{currentuser.email}}">{{currentUser.Email}}</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="bs-example">
                                            <dl class="dl-horizontal">
                                                <dt>Program:</dt>
                                                <dd>{{currentUser.ProgramName}}</dd>
                                                <dt>Affiliation:</dt>
                                                <dd>{{currentUser.AffiliationName}}</dd>
                                                <dt>Line Office:</dt>
                                                <dd>{{currentUser.LineOffice}}</dd>
                                                <dt>Full Time:</dt>
                                                <dd>{{ currentUser.PartTime && 'No' || 'Yes'}}</dd>
                                                <dt>Start Date:</dt>
                                                <dd>{{ parseMSJSONDate(currentUser.StartDate)}}</dd>
                                            </dl>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="bs-example">
                                            <strong class="txt-color-teal">Contact Info</strong>
                                            <dl class="dl-horizontal">
                                                <dt>Phone:</dt>
                                                <dd>{{currentUser.PrimaryPhoneNumber}}</dd>
                                                <dt>Extension:</dt>
                                                <dd>{{currentUser.PhoneExtension}}</dd>
                                                <dt>E-mail:</dt>
                                                <dd>{{currentUser.Email}}</dd>

                                            </dl>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="bs-example">
                                            <strong class="txt-color-teal">Location Info</strong>
                                            <dl class="dl-horizontal">
                                                <dt>Region:</dt>
                                                <dd>{{currentUser.RegionName}}</dd>
                                                <dt>Location:</dt>
                                                <dd>{{currentUser.City}}</dd>
                                                <dt>Building:</dt>
                                                <dd>{{currentUser.BuildingName}}</dd>
                                                <dt>Room:</dt>
                                                <dd>{{currentUser.RoomNumber}}</dd>
                                                <dt>Cubicle:</dt>
                                                <dd>{{currentUser.CubicalNumber}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-3">
                    <div class="row">
                        <div class="col-sm-10">
                            <form id="formEmergencyContact" name="formEmergencyContact" class="smart-form" novalidate="novalidate" ng-submit="submitEmergenyContact(formEmergencyContact.$valid)">
                                <header>Emergency Contact Info</header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label>Emergency Contact Name:</label>
                                            <label class="input" ng-class="{ 'state-error' : formEmergencyContact.txtEmgFirstName.$invalid && !formEmergencyContact.txtEmgFirstName.$pristine, 'state-success': formEmergencyContact.txtEmgFirstName.$valid && !formEmergencyContact.txtEmgFirstName.$pristine}">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" id="txtEmgFirstName" name="txtEmgFirstName" required placeholder="Emergency Contact Name" ng-model="currentUser.EmergencyContactName">
                                            </label>
                                        </section>

                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="control-label" for="drpEmergencyRelationType">Emergency Contact Relationship</label>
                                            <label class="select">
                                                <select name="drpEmergencyRelationType" id="drpState" ng-model="currentUser.EmergencyContactRelationshipId" ng-options="obj.RelationshipId as obj.Relationship for obj in EmergencyContactRelationship"></select><i></i>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label>Phone Number:</label>
                                            <label class="input" ng-class="{ 'state-error' : formEmergencyContact.txtEmgPhoneNum1.$invalid && !formEmergencyContact.txtEmgPhoneNum1.$pristine, 'state-success': formEmergencyContact.txtEmgPhoneNum1.$valid && !formEmergencyContact.txtEmgPhoneNum1.$pristine}">
                                                <i class="icon-prepend fa fa-phone"></i>
                                                <input type="text" name="txtEmgPhoneNum1" id="txtEmgPhoneNum1" required ui-mask="(999) 999-9999" ng-model="currentUser.EmergencyContactPhoneNumber">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label>Phone Number2:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-phone"></i>
                                                <input type="text" name="txtEmgPhoneNum2" id="txtEmgPhoneNum2" ui-mask="(999) 999-9999" ng-model="currentUser.EmergencyContactPhoneNumber2">
                                            </label>
                                        </section>
                                    </div>
                                    <section>
                                        <label>Comments(250 char)</label>
                                        <label class="textarea">
                                            <i class="icon-append fa fa-comment"></i>
                                            <textarea rows="4" cols="50" placeholder="Comments" id="txtEmgComments" name="txtEmgComments" ng-model="currentUser.EmergencyContactComment"></textarea>
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" id="btn_Emgergency_submit" class="btn btn-primary"><i class="fa fa-save">&nbsp;</i>Submit</button>
                                    <button type="button" class="btn btn-danger" ng-click="goBack();"><i class="fa fa-hand-o-left fa-lg">&nbsp;</i>Back</button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-4">
                    <div class="row">
                        <div class="col-sm-10">
                            <form id="formHomeContact" name="formHomeContact" class="smart-form" ng-submit="submitHomeContact(formHomeContact.$valid)">
                                <header>Home Contact Info</header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label for="txtHomeAddress1" class="control-label">Address 1</label>
                                            <label class="input" ng-class="{ 'state-error' : formHomeContact.txtHomeAddress1.$invalid && !formHomeContact.txtHomeAddress1.$pristine, 'state-success': formHomeContact.txtHomeAddress1.$valid && !formHomeContact.txtHomeAddress1.$pristine}">
                                                <i class="icon-append fa fa-home"></i>
                                                <input type="text" class="form-control" required id="txtHomeAddress1" name="txtHomeAddress1" placeholder="Address 1" ng-model="currentUser.HomeStreeAddress">
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label for="txtHomeCity" class="control-label">City</label>
                                            <label class="input" ng-class="{ 'state-error' : formHomeContact.txtHomeCity.$invalid && !formHomeContact.txtHomeCity.$pristine, 'state-success': formHomeContact.txtHomeCity.$valid && !formHomeContact.txtHomeCity.$pristine}">
                                                <i class="icon-prepend fa fa-map-marker"></i>
                                                <input type="text" class="form-control" required name="txtHomeCity" id="txtHomeCity" placeholder="City" ng-model="currentUser.HomeCity">
                                            </label>
                                        </section>
                                        <section class="col col-3" ng-hide="formHomeContact.txtHomeCity.$pristine">
                                            <label for="drphome_State" class="control-label">State</label>
                                            <label class="select">

                                                <select name="drphome_State" id="drphome_State" ng-options="s.Name for s in States">
                                                    <option value="0" selected="" disabled="">State</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label for="txtZipcode" class="control-label">Zip Code:</label>
                                            <label class="input" ng-class="{ 'state-error' : formHomeContact.txtZipcode.$invalid && !formHomeContact.txtZipcode.$pristine, 'state-success': formHomeContact.txtZipcode.$valid && !formHomeContact.txtZipcode.$pristine}">
                                                <i class="icon-prepend fa fa-envelope-o"></i>
                                                <input class="form-control" type="text" name="txtZipcode" id="txtZipcode" ui-mask="99999" required ng-model="currentUser.HomeZipCode">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label for="txtHomePhone" class="control-label">Home Phone:</label>
                                            <label class="input" ng-class="{ 'state-error' : formHomeContact.txtHomePhone.$invalid && !formHomeContact.txtHomePhone.$pristine, 'state-success': formHomeContact.txtHomePhone.$valid && !formHomeContact.txtHomePhone.$pristine}">
                                                <i class="icon-prepend fa fa-phone"></i>
                                                <input type="text" class="form-control" required name="txtHomePhone" id="txtHomePhone" ui-mask="(999) 999-9999" ng-model="currentUser.HomePhoneNumber">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label for="txtHomeCellPhone" class="control-label">Cell Phone:</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-phone"></i>
                                                <input type="text" class="form-control" name="txtHomeCellPhone" id="txtHomeCellPhone" ui-mask="(999) 999-9999" ng-model="currentUser.HomePhoneNumber2">
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <button id="btn_Home_Submit" type="submit" class="btn btn-primary"><i class="fa fa-save">&nbsp;</i>Submit</button>
                                    <button type="button" class="btn btn-danger" ng-click="goBack();"><i class="fa fa-hand-o-left fa-lg">&nbsp;</i>Back</button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-5">
                    <h5>
                        All Hardware Assigned to <b>{{currentUser.FirstName+' '+currentUser.LastName}}</b>
                    </h5>
                    <em>Hardware list not yet available</em>
                </div>
            </div>
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTab1').tabs();
    });
</script>
