
<div class="row">

    <div class="jarviswidget" id="Emp_Relocation_Setup_Widget" data-widget-editbutton="false" data-widget-custombutton="false">
        <header>
            <span class="widget-icon"><i class="fa fa-edit"></i></span>
            <h2>Request Employee Relocation  </h2>
        </header>
        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">

                <form class="smart-form" novalidate="novalidate" name="myForm" id="myForm" ng-submit="submitEmployeeRelocation(myForm.$valid)">
                    <header>
                        Requester Information
                    </header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="control-label" for="drp_Requestor">Requester  Name </label>
                                <label class="select" ng-class="{ 'state-error' : myForm.drp_Requestor.$invalid && !myForm.drp_Requestor.$pristine, 'state-success': myForm.drp_Requestor.$valid && !myForm.drp_Requestor.$pristine}">
                                    <select name="drp_Requestor" ng-model="employeeRelocationRequest.RequestorInfo" id="drp_Requestor"
                                            ng-options="u.Name for u in allUsers | managers" required>
                                        <option value="0" selected="" disabled="">Name of Center Sponsor</option>
                                    </select>
                                    <i></i>
                                </label>
                                <span class="bg-danger" ng-show="formSubmitted && myForm.drp_Requestor.$error.required">Required!</span>
                            </section>

                            <section class="col col-6">
                                <label class="control-label" for="DT_DateOfRequest">Date of Request</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.DT_DateOfRequest.$invalid && !myForm.DT_DateOfRequest.$pristine, 'state-success': myForm.DT_DateOfRequest.$valid && !myForm.DT_DateOfRequest.$pristine}">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="DT_DateOfRequest" id="DT_DateOfRequest" placeholder="Date of request" required ng-model="employeeRelocationRequest.DateOfRequest">
                                </label>
                                <span class="bg-danger" ng-show="formSubmitted && myForm.DT_DateOfRequest.$error.required">Required!</span>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="control-label" for="drp_Requestor">Relocation Date</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.DT_RelocationDate.$invalid && !myForm.DT_RelocationDate.$pristine, 'state-success': myForm.DT_RelocationDate.$valid && !myForm.DT_RelocationDate.$pristine}">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="DT_RelocationDate" id="DT_RelocationDate" placeholder="Relocation Date" required ng-model="employeeRelocationRequest.RelocationDate ">
                                </label>
                                <span class="bg-danger" ng-show="formSubmitted && myForm.DT_RelocationDate.$error.required">Required!</span>
                            </section>
                        </div>
                    </fieldset>

                    <header>
                        Employee Information
                    </header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label for="txtCanFirstName" class="control-label">Employee Name</label>
                                <label class="select" ng-class="{ 'state-error' : myForm.drp_Candidate.$invalid && !myForm.drp_Candidate.$pristine, 'state-success': myForm.drp_Candidate.$valid && !myForm.drp_Candidate.$pristine}">
                                    <select name="drp_Candidate" ng-model="employeeRelocationRequest.Candidate" id="drp_Candidate" ng-options="u.Name for u in allUsers" required></select>
                                    <i></i>
                                </label>
                                <span class="bg-danger" ng-show="formSubmitted && myForm.drp_Candidate.$error.required">Required!</span>
                            </section>
                            <section class="col col-6">
                                <label class="control-label" for="txtCanJobTitle">Job Title</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.txtCanJobTitle.$invalid && !myForm.txtCanJobTitle.$pristine, 'state-success': myForm.txtCanJobTitle.$valid && !myForm.txtCanJobTitle.$pristine}">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" id="txtCanJobTitle" name="txtCanJobTitle" placeholder="Job Title" required ng-minlength="3" ng-model="employeeRelocationRequest.Candidate.Title">
                                </label>
                                <span class="bg-danger" ng-show="formSubmitted && myForm.txtCanJobTitle.$error.required">Required!</span>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-3">
                                <label class="control-label" for="drpCanProgramName">Program Name</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.drpCanProgramName.$invalid && !myForm.drpCanProgramName.$pristine, 'state-success': myForm.drpCanProgramName.$valid && !myForm.drpCanProgramName.$pristine}">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" name="drpcanprogramname" id="drpCanProgramName" required ng-model="employeeRelocationRequest.Candidate.ProgramName">
                                </label>
                                <span class="bg-danger" ng-show="formSubmitted && myForm.drpCanProgramName.$error.required">Required!</span>
                            </section>
                            <section class="col col-3">
                                <label class="control-label" for="drpCanBuilding">Building</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" name="drpCanBuilding" id="drpCanBuilding" ng-model="employeeRelocationRequest.Candidate.BuildingName"
                                           ng-options="loc.BuildingName for loc in empLocation">
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="control-label" for="txtCanRoom">Room</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.txtCanRoom.$invalid && !myForm.txtCanRoom.$pristine, 'state-success': myForm.txtCanRoom.$valid && !myForm.txtCanRoom.$pristine}">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" id="txtCanRoom" name="txtCanRoom" placeholder="Room" ng-model="employeeRelocationRequest.Candidate.RoomNumber">
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="control-label" for="txtCanCubicalNo">Cubical</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.txtCanCubicalNo.$invalid && !myForm.txtCanCubicalNo.$pristine, 'state-success': myForm.txtCanCubicalNo.$valid && !myForm.txtCanCubicalNo.$pristine}">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input name="txtCanCubicalNo" id="txtCanCubicalNo" ng-model="employeeRelocationRequest.Candidate.CubicalNo">
                                    <i></i>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="control-label" for="txtNewPrimaryPhone">New Work Phone Number</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.txtNewPrimaryPhone.$invalid && !myForm.txtNewPrimaryPhone.$pristine, 'state-success': myForm.txtNewPrimaryPhone.$valid && !myForm.txtNewPrimaryPhone.$pristine}">
                                    <i class="icon-append fa fa-phone"></i>
                                    <input name="txtNewPrimaryPhone" id="txtNewPrimaryPhone" ui-mask="(999)999-9999" ng-model="employeeRelocationRequest.PrimaryPhoneNumber">
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="control-label" for="txtNewPhoneExtension">New Work Ext.</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.txtNewPhoneExtension.$invalid && !myForm.txtNewPhoneExtension.$pristine, 'state-success': myForm.txtNewPhoneExtension.$valid && !myForm.txtNewPhoneExtension.$pristine}">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input name="txtNewPhoneExtension" id="txtNewPhoneExtension" ng-pattern="/^[1-9][0-9]{0,2}(?:,?[0-9]{3}){0,3}(?:\.[0-9]{1,2})?$/" ng-model="employeeRelocationRequest.PhoneExtension">
                                    <i></i>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="control-label" for="txtFaxNumber">Affiliation</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-phone"></i>
                                    <input type="text" name="txtAffiliation" id="txtAffiliation" ng-model="employeeRelocationRequest.Candidate.AffiliationName">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="control-label" for="txtFaxNumber">Phone Number</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-phone"></i>
                                    <input type="text" name="txtFaxNumber" id="txtFaxNumber" ui-mask="(999) 999-9999" ng-model="employeeRelocationRequest.Candidate.PrimaryPhoneNumber">
                                </label>
                            </section>

                        </div>
                    </fieldset>
                    <hr />

                    <header>
                        Employee New Location
                    </header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="control-label" for="drpProgramManager">Updated Program Manager of Employee</label>
                                <label class="select">
                                    <select name="drpProgramManager" id="drpProgramManager" ng-model="employeeRelocationRequest.NewProgramManager"
                                            ng-options=" u.FirstName +' '+u.LastName for u in allUsers | managers">
                                        <option value="0" selected="" disabled="">Select Program Manager</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="control-label" for="drpProgramManager">Updated Affiliation of Employee</label>
                                <label class="select">
                                    <select name="drpAffiliation" id="drpAffiliation" ng-model="employeeRelocationRequest.NewAffiliation"
                                            ng-options="a.AffiliationName for a in Affiliations">
                                        <option value="0" selected="" disabled="">Select Program Manager</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </div>
                        <div class="row">

                            <section class="col col-4">
                                <label for="drpCanCurrentBuilding" class="control-label">New Building</label>
                                <label class="select">
                                    <select name="drpCanCurrentBuilding" id="drpCanCurrentBuilding" ng-options="loc.BuildingName for loc in empLocation"
                                            ng-model="employeeRelocationRequest.NewLocation.Building">
                                        <option value="0" selected="" disabled="">Building</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label for="txtCanCurrentRoom" class="control-label">New Room</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" id="txtCanCurrentRoom" name="txtCanCurrentRoom" placeholder="Room"
                                           ng-model="employeeRelocationRequest.NewLocation.Room" ng-maxlength="10">
                                </label>
                            </section>
                            <section class="col col-4">
                                <label for="txtCanCurrentRoom" class="control-label">New Cubical #</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input name="txtCanCurrentCubicalNo" id="txtCanCurrentCubicalNo" placeholder="Cubical #"
                                           ng-model="employeeRelocationRequest.NewLocation.CubicalNo" ng-maxlength="5">
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="control-label">Check all that apply to be relocated</label>
                                <div class="inline-group smart-form">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="employeeRelocationRequest.NewLocation.Equipment">
                                        <i></i>Equipment
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="employeeRelocationRequest.NewLocation.Furniture">
                                        <i></i>Furniture
                                    </label>
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="employeeRelocationRequest.NewLocation.Boxes_Needed">
                                        <i></i>Boxes Needed
                                    </label>
                                </div>
                            </section>
                        </div>
                        <section>
                            <label for="txtComments" class="control-label">
                                Comments
                            </label>
                            <label class="textarea">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" placeholder="Comments" id="txtComments" name="txtComments"
                                          ng-model="employeeRelocationRequest.NewLocation.Comments"></textarea>
                            </label>
                        </section>
                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-primary" ng-disabled="isValidSubmitted"><i class="fa fa-save">&nbsp;</i>Submit</button>
                        <button type="button" class="btn btn-danger" onclick="goBack()"><i class="fa fa-hand-o-left fa-lg">&nbsp;</i>Back</button>
                    </footer>
                </form>
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        Intranet.Util.Global.setDatepickerOptionsForElement('DT_DateOfRequest');
        //Intranet.Util.Global.setDatepickerOptionsForElement('DT_DateOfSeperation');
        Intranet.Util.Global.setDatepickerOptionsForElement('DT_RelocationDate');
    });

</script>
