
<div class="row">
    <div class="jarviswidget jarviswidget-color-redLight" id="Visitor_Pass_Widget" data-widget-editbutton="false" data-widget-custombutton="false">
        <header>
            <span class="widget-icon"><i class="fa fa-edit"></i></span>
            <h2>FLETC visitor pass form </h2>
        </header>
        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">
                <form id="myFrom" name="myForm" class="smart-form" novalidate="novalidate" ng-submit="submitVisitorPassReq(myForm.$valid)">
                    <div class="alert alert-warning fade in">
                        <i class="fa-fw fa fa-warning"></i>
                        <strong>NOTE</strong> This form is indicated for US Citizens. If the visitor is a Foreign National, DO NOT fill out this form. You will need to complete the Foreign Visitor Form and submit 30 day in prior to visit. Information will be sent to the receptionist.
                    </div>
                 
                    <header>
                        Person Submitting Information
                    </header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Name of Center Sponsor</label>
                                <label class="select" ng-class="{ 'state-error' : myForm.drp_CenterSponsor.$invalid && !myForm.drp_CenterSponsor.$pristine, 'state-success': myForm.drp_CenterSponsor.$valid && !myForm.drp_CenterSponsor.$pristine}">
                                    <select name="drp_CenterSponsor" ng-model="visitorForm.PrimarySponsor" id="drp_CenterSponsor" ng-options="u.Name for u in allUsers | fedUsers" required>
                                        <option value="0" selected="" disabled="">Name of Center Sponsor</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Email</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.txtSponsorEmail.$invalid && !myForm.txtSponsorEmail.$pristine, 'state-success': myForm.txtSponsorEmail.$valid && !myForm.txtSponsorEmail.$pristine}">
                                    <i class="icon-append fa fa-envelope"></i>
                                    <input type="text" id="txtSponsorEmail" name="txtSponsorEmail" ng-model="visitorForm.PrimarySponsor.Email" placeholder="Email" required>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Phone</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.txtSponsorPhoneNum.$invalid && !myForm.txtSponsorPhoneNum.$pristine, 'state-success': myForm.txtSponsorPhoneNum.$valid && !myForm.txtSponsorPhoneNum.$pristine}">
                                    <i class="icon-prepend fa fa-phone"></i>
                                    <input type="text" name="txtSponsorPhoneNum" id="txtSponsorPhoneNum" ng-model="visitorForm.PrimarySponsor.PrimaryPhoneNumber" ui-mask="(999) 999-9999" required>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">Name of Alternate Center Sponsor (Optional)</label>
                                <label class="select">
                                    <select name="CenterSponsor" id="drpAltCenterSponsor" ng-model="visitorForm.AlternateSponsor" ng-options="u.FirstName +' '+u.LastName for u in allUsers">
                                        <option value="0" selected="" disabled="">Name of Alternate Center Sponsor</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">Email</label>
                                <label class="input">
                                    <i class="icon-append fa fa-envelope"></i>
                                    <input type="text" id="txtAltSponsorEmail" name="AlternateSponsorEmail" placeholder="Email" ng-model="visitorForm.AlternateSponsor.Email">
                                </label>
                            </section>
                        </div>

                    </fieldset>
                    <header>Visitor Information</header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">Name of Visitor</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.txtVisitorName.$invalid && !myForm.txtVisitorName.$pristine, 'state-success': myForm.txtVisitorName.$valid && !myForm.txtVisitorName.$pristine}">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" id="txtVisitorName" name="txtVisitorName" placeholder="Name of Visitor" required ng-minlength="3" ng-model="visitorForm.VisitorName" />
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">Company Affiliation</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.txtCompanyAffilication.$invalid && !myForm.txtCompanyAffilication.$pristine, 'state-success': myForm.txtCompanyAffilication.$valid && !myForm.txtCompanyAffilication.$pristine}">
                                    <i class="icon-append fa fa-briefcase"></i>
                                    <input type="text" id="txtCompanyAffilication" name="txtCompanyAffilication" placeholder="Company Affiliation" ng-model="visitorForm.CompanyAffilication" ng-minlength="3" required>
                                </label>
                            </section>
                        </div>
                        <div class="row">

                            <section class="col col-4">
                                <label class="label">Purpose of Visit</label>
                                <label class="select" ng-class="{ 'state-error' : myForm.drpPurposeOfVisit.$invalid && !myForm.drpPurposeOfVisit.$pristine, 'state-success': myForm.drpPurposeOfVisit.$valid && !myForm.drpPurposeOfVisit.$pristine}">
                                    <select name="drpPurposeOfVisit" id="drpPurposeOfVisit" ng-model="visitorForm.PurposeOfVisit" required>
                                        <option value="0" selected="" disabled="">Purpose of Visit</option>
                                        <option value="Visiting staff">Visiting staff</option>
                                        <option value="Subcontractor">Subcontractor</option>
                                        <option value="Training">Training</option>
                                        <option value="Student">Student</option>
                                        <option value="Meeting">Meeting</option>
                                        <option value="New Employee">New Employee</option>
                                        <option value="Vendor">Vendor</option>
                                        <option value="Facilitator">Facilitator</option>
                                        <option value="Conference">Conference</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Beginning Date of Visit</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.DT_StartDateOfVisit.$invalid && !myForm.DT_StartDateOfVisit.$pristine, 'state-success': myForm.DT_StartDateOfVisit.$valid && !myForm.DT_StartDateOfVisit.$pristine}">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="DT_StartDateOfVisit" id="DT_StartDateOfVisit" placeholder="Beginning Date of Visit" ng-model="visitorForm.BeginDate" required>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Ending Date of Visit</label>
                                <label class="input" ng-class="{ 'state-error' : myForm.DT_EndDateOfVisit.$invalid && !myForm.DT_EndDateOfVisit.$pristine, 'state-success': myForm.DT_EndDateOfVisit.$valid && !myForm.DT_EndDateOfVisit.$pristine}">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="DT_EndDateOfVisit" id="DT_EndDateOfVisit" placeholder="Ending Date of Visit" ng-model="visitorForm.EndDate" required>
                                </label>
                            </section>
                        </div>
                        <section>
                            <label class="label">Description of Visit</label>
                            <label class="textarea" ng-class="{ 'state-error' : myForm.txtDescriptionOfVisit.$invalid && !myForm.txtDescriptionOfVisit.$pristine, 'state-success': myForm.txtDescriptionOfVisit.$valid && !myForm.txtDescriptionOfVisit.$pristine}">
                                <i class="icon-append fa fa-comment"></i>
                                <textarea rows="4" placeholder="Description of Visit" id="txtDescriptionOfVisit" name="txtDescriptionOfVisit"  ng-model="visitorForm.DescriptionOfVisit" required></textarea>
                                <b class="tooltip tooltip-top-right">
                                    <i class="fa fa-warning txt-color-teal"></i>
                                    Please provide a description of the visit. For example, the name of training or conference, name of vendor or other nature of business.
                                </b>
                            </label>
                        </section>
                    </fieldset>
                    <header></header>
                    <fieldset>
                        <section>
                            <div class="alert alert-block alert-info">

                                <h4 class="alert-heading">Terms of Agreement</h4>
                                <p>
                                    The sponsor is required to notify ALL guests to bring all required documents in order to gain access to The Enclave. All guests are required to show both valid and current driver's license or Government/State issued picture ID. The driver of the vehicle must have, in addition to the aforementioned, current proof of insurance and current vehicle registration for the vehicle they are driving. In the event that the guest has a rental car then, the rental car agreement and current registration must be provided. The only exceptions are Government vehicles. The sponsor is also responsible to inform the visitor that they must check in at the Visitor Center with proper identification prior to entering the gate. Please note that if the visitor does not have all necessary identification, they will not be granted access to The Enclave.
                                </p>
                                <br>
                                <div style="text-align: center">
                                    <div class="inline-group fa-align-center" ng-class="{ 'has-error' : myForm.radio_TermsOfAgreement.$invalid && !myForm.radio_TermsOfAgreement.$pristine, 'has-success': myForm.radio_TermsOfAgreement.$valid && !myForm.radio_TermsOfAgreement.$pristine}">
                                        <label class="radio">
                                            <input type="radio" id="radio_TermsOfAgreement1" ng-model="visitorForm.TermsOfAgreement" value="Accept" name="radio_TermsOfAgreement" required>
                                            <i></i>Accept
                                        </label>
                                        <label class="radio">
                                            <input type="radio" id="radio_TermsOfAgreement2" ng-model="visitorForm.TermsOfAgreement" value="Decline" name="radio_TermsOfAgreement" required>
                                            <i></i>Decline
                                        </label>
                                        <div class="error" ng-show="myForm.$invalid && submitted">
                                            <small class="error" ng-show="myForm.radio_TermsOfAgreement.$error.required">Please accept Terms of Agreement.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </fieldset>
                    <header></header>
                    <footer>
                        
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save">&nbsp;</i>Submit</button>
                        <button type="reset" class="btn btn-danger" ng-click="goBack();"><i class="fa fa-hand-o-left fa-lg">&nbsp;</i>Back</button>
                    </footer>
                </form>
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        Intranet.Util.Global.setDatepickerOptionsForStartEnd('DT_StartDateOfVisit', 'DT_EndDateOfVisit', 2);
    });
</script>