<div id="travel">
    <div class="row">

        <div class="col-md-8">
            <h2>Travel</h2>

            <ul>
                <li><a href="documents/cd334_req_for_extra_air_accommodations.doc">Cd334 Req For Extra Air Accommodations</a></li>
                <li><a href="documents/POV_Carrier_Cost_Comparason.pdf">POV Carrier Cost Comparison </a></li>
                <li><a href="http://www.virtuallythere.com">View your AdTrav itinerary online </a></li>
            </ul>

            <p>
                Contacts for travel questions:<br><br>
                Federal:<a href="mailto:joyce.martell@noaa.gov"> Joyce Martell</a><br>
                Contractor:<a href="mailto:aundrea.potter@noaa.gov"> Aundrea Potter</a>
            </p>

        </div><!--interior_home_column_left-->

        <div class="col-md-4">
            <h3>Federal</h3>
            <ul class="list-group">
                <li class="list-group-item"><a ui-sref="travel-fed-request-form">Travel Request Form </a></li>
                <li class="list-group-item"><a ui-sref="fed-summary">Status of Current Travel Requests</a></li>
                <li class="list-group-item"><a ui-sref="travel-expense-form">Expense Report Form </a></li>
                <li class="list-group-item"><a ui-sref="federalExpenseSummary">Status of Expense Report Requests</a></li>
            </ul>
            <h3>Contractor</h3>
            <ul class="list-group">
                <li class="list-group-item"><a ui-sref="travel-contractor-request-form">Travel Request Form</a></li>
                <li class="list-group-item"><a ui-sref="contractor-summary">Status of Current Travel Requests</a></li>
            </ul>
            <h3>Admin Only</h3>
            <ul class="list-group">
                <li class="list-group-item"><a ui-sref="admin-conference">Add Edit Delete Conference</a></li>
                <li class="list-group-item"><a ui-sref="admin-project">Add Edit Delete Projects</a></li>
                <li class="list-group-item"><a ui-sref="admin-TravelCodes">Add Edit Delete Travelcodes</a></li>
            </ul>


        </div><!--interior_home_column_right-->
    </div><!--travel-->
</div><!--interior_container-->	