<div id="it">
    <div class="row">

        <div class="col-md-8">
            <h3>I.T. and Property</h3>

            <ul>
                <li><a href=" ">Set up audio conference calls   </a></li>
                <li><a href=" ">Set up web meetings, incl. video and VOIP  </a></li>
                <li><a href=" ">set up printers  </a></li>
                <li><a href=" ">use google mail/calendar/drive  </a></li>
                <li><a href=" ">Update your email password  </a></li>
                <li><a href=" ">Look at Charleston office meeting room set-up   </a></li>
                <li><a href=" ">IIS sharepoint site  </a></li>
                <li><a href=" ">Track-it (if you are on the NCO network) </a></li>
            </ul>


        </div><!--interior_home_column_left-->

        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><a href="">create new assets  </a></li>
                <li class="list-group-item"><a href="">view/edit all assets & create property passes </a></li>
                <li class="list-group-item"><a href="">request property passes </a></li>
                <li class="list-group-item"><a href="">contact help desk (outside of the NCO network)</a></li>
                <li class="list-group-item"><a href="">demo notifications</a></li>
                <li class="list-group-item"><a href="">software requests</a></li>
            </ul>



        </div><!--interior_home_column_right-->
    </div><!--IT-->
</div><!--interior_container-->
