
<div id="acquisition">
    <div class="row">

        <div class="col-md-8">
            <h2>Acquisitions</h2>

            <ul>
                <li>
                    <p>Do you need to purchase something?</p>
                    <ul>
                        <li>
                            $3000 and under: requires a purchase card request
                            <ul>
                                <li><a href="">Here’s a description of the process </a></li>
                            </ul>
                        </li>
                        <li>
                            <p>Over $3000: requires a contract</p>
                            <ul>
                                <li><a href="">Here’s a description of the process </a></li>
                                <li><a href="">Statement of Work template </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Are you a purchase card holder? Here are some forms you may need.</p>
                    <ul>
                        <li><a href="">CD435 purchase form </a></li>
                        <li><a href="">CD492 Sole Source Justification  </a></li>
                        <li><a href="">Sole Source Template  </a></li>
                        <li><a href="">Ratification of Unauthorized Commitments </a></li>
                        <li><a href="">Information Security Acquisitions Checklist Apr-21-2011 </a></li>
                        <li><a href="">ITSecurity Requirements 4Acquisitions 1-28-2011 </a></li>
                        <li><a href="">Procurement Admin Lead Times Oct-2010 </a></li>
                    </ul>
                </li>
            </ul>


        </div><!--interior_home_column_left-->

        <div class="col-md-4">
            <h3>Other financial information you may need:</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="">CSC commonly used object class codes  </a></li>
                <li class="list-group-item"><a href="">Pages on the Commerce Business System (CBS) website </a></li>
                <li class="list-group-item"><a href="">ACCS Conversion OR Project Task Codes Download </a></li>
                <li class="list-group-item"><a href="">ACCS Validation</a></li>
                <li class="list-group-item"><a href="">Payment Info Lookup</a></li>
            </ul>
        </div><!--interior_home_column_right-->
    </div><!--acquisition-->
</div><!--interior_container-->	